.event{
    width:100%;
    height:701px;
    background-color: #FBE5C5;
    .eventBox{
        height: 473px;
        width: 1328px;
        margin: 0 auto;
        position: relative;
        top: 98px;
        .eventTitle{
            height:336px ;
            width: 480px;
            position: relative;
            .eventWhiteFrame{
                width:222px;
                height:183px;
                position: relative;
                top: 61px;
                border:8px solid rgba(255,255,255,1);
                opacity:0.9;
                h3{
                    position: relative;
                    top: 54px;left: 200px;
                    font-size:36px;
                    font-family:MicrosoftYaHei;
                    font-weight:400;
                    color:rgba(12,12,12,1);
                    opacity:0.95;
                }
            }
            div{
                position: absolute;
                bottom: 0px;right: 0px;
                width:336px;
                height:24px;
                color:rgba(3,3,3,1);
                opacity:0.95;
            }
        }
        .events{

        }
    }
}