.header{
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 29px;
    .fakenav{
        height: 106px;
    }
}

.slogan{
    width: 336px;
    height: 165px;
    color: white;
    h1{
        font-size:36px;
        font-family:MicrosoftYaHei;
        font-weight: 300;
    }
    h2{
        margin-top: 21px;
        font-size:24px;
        font-family:MicrosoftYaHei;
        font-weight: 100;
    }
}