.message {
  height: 1022px;
  width: 100%; }
  .message .messageLine {
    height: 701px;
    width: 100%;
    position: relative;
    top: 159px;
    background-color: #FBE5C5; }
    .message .messageLine .messageBox {
      margin: 0 auto;
      height: 475px;
      width: 1305px;
      position: relative;
      top: 70px; }

.messageBoxShow {
  float: left;
  height: 475px;
  width: 604px; }
  .messageBoxShow h4 {
    position: relative;
    top: 75px;
    text-align: center;
    font-size: 24px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: #0c0c0c;
    opacity: 0.95; }
  .messageBoxShow .showBody {
    height: 320px;
    position: relative;
    top: 128px;
    overflow: hidden;
    max-width: 100%;
    outline: none;
    background-color: #FFF6E7; }
    .messageBoxShow .showBody .showBodyContainer {
      overflow: hidden;
      height: auto;
      width: auto; }
    .messageBoxShow .showBody .showBodyScrollbar {
      width: 7px;
      height: 100%;
      position: absolute;
      right: 0px;
      background-color: #F3DCB4; }
      .messageBoxShow .showBody .showBodyScrollbar .scrollbarBlock {
        width: 7px;
        height: 48px;
        border-radius: 4px;
        background-color: #E3CCA3; }

.messageBoxPush {
  float: left;
  height: 100%;
  width: 669px;
  position: relative;
  left: 52px; }
  .messageBoxPush .messageWhiteFrame {
    width: 242px;
    height: 203px;
    position: absolute;
    right: 0px;
    border: 8px solid white;
    opacity: 0.9;
    font-size: 36px;
    font-family: MicrosoftYaHei;
    color: #0c0c0c;
    opacity: 0.9; }
    .messageBoxPush .messageWhiteFrame h3 {
      position: relative;
      left: -69px;
      top: 23px;
      font-weight: 400; }
  .messageBoxPush .messageWrite {
    width: 608px;
    height: 326px;
    position: relative;
    top: 155px;
    background-color: #FBFAF9;
    box-shadow: 1px 5px 50px 0px rgba(196, 178, 151, 0.2);
    border-radius: 10px; }
    .messageBoxPush .messageWrite h4 {
      text-align: center;
      position: relative;
      top: 28px;
      font-size: 24px;
      font-family: MicrosoftYaHei;
      font-weight: 400; }
    .messageBoxPush .messageWrite .messageText {
      width: 510px;
      height: 133px;
      position: relative;
      top: 46px;
      left: 46px;
      border: 2px solid #f9e2c2;
      opacity: 0.8;
      border-radius: 10px; }
      .messageBoxPush .messageWrite .messageText textarea {
        border-style: none;
        margin-left: 5px;
        margin-top: 1px;
        height: 130px;
        width: 500px;
        resize: none;
        outline: none;
        font-size: 23px; }
    .messageBoxPush .messageWrite .messageFooter {
      position: relative;
      top: 64px; }
      .messageBoxPush .messageWrite .messageFooter .verifyTip {
        float: left;
        margin-left: 48px; }
      .messageBoxPush .messageWrite .messageFooter .verify {
        float: left;
        clear: both;
        margin-left: 48px;
        width: 98px;
        height: 31px;
        border: 1px solid #fbe5c5;
        border-radius: 5px; }
        .messageBoxPush .messageWrite .messageFooter .verify input {
          height: 30px;
          width: 98px;
          border-style: none; }
      .messageBoxPush .messageWrite .messageFooter .verify_img {
        float: left;
        cursor: pointer; }
      .messageBoxPush .messageWrite .messageFooter .submit {
        float: right;
        border-style: none;
        margin-right: 53px;
        width: 128px;
        height: 39px;
        background: #fad59e;
        box-shadow: -2px 2px 40px 10px rgba(63, 63, 63, 0.06);
        border-radius: 5px;
        font-size: 18px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: white;
        cursor: pointer; }

/*# sourceMappingURL=message..css.map */
