.team {
  margin: 0 auto;
  width: 1328px;
  height: 659px;
  position: relative;
  top: 29px;
  background: #fdf8f0;
  box-shadow: 6px 4px 84px 33px rgba(3, 3, 3, 0.08); }
  .team div {
    margin: 0 auto; }
  .team .DefinitionDetail .DefinitionTitle {
    text-indent: -55px;
    width: 77px;
    height: 40px;
    position: relative;
    top: 39px;
    font-size: 30px;
    color: #030303;
    opacity: 0.9;
    border-bottom: 6px solid #FAD7A4;
    font-family: MicrosoftYaHei; }
  .team .teamTitle {
    text-indent: -55px;
    width: 77px;
    height: 40px;
    position: relative;
    top: 39px;
    font-size: 30px;
    color: #030303;
    opacity: 0.9;
    border-bottom: 6px solid #FAD7A4;
    font-family: MicrosoftYaHei; }
  .team .teams {
    width: 1112px;
    height: 637px;
    position: relative;
    top: 60px; }
    .team .teams .teamBackground {
      height: 100%;
      width: 100%;
      float: left;
      position: absolute;
      z-index: 0; }

.moreDepartment {
  margin: 0 auto;
  position: relative;
  top: 95px;
  width: 265px;
  height: 55px;
  background: #fad59e;
  box-shadow: -2px 2px 40px 10px rgba(63, 63, 63, 0.06);
  border-radius: 10px;
  text-align: center;
  line-height: 55px;
  cursor: pointer;
  color: white;
  font-size: 21px;
  user-select: none; }

.Departments {
  float: left;
  width: 373px;
  height: 542px;
  position: relative;
  top: 45px;
  left: 62px;
  text-align: center;
  color: white;
  display: none; }
  .Departments .DepartmentsTitle {
    text-indent: -70px;
    width: 77px;
    height: 40px;
    font-size: 30px;
    opacity: 0.9;
    border-bottom: 6px solid #FAD7A4; }
  .Departments h4 {
    margin-top: 53px;
    font-size: 20px;
    font-family: MicrosoftYaHei;
    font-weight: 100; }
  .Departments p {
    margin-top: 53px;
    font-weight: 100;
    line-height: 30px; }
  .Departments .DepartmentsMore {
    position: absolute;
    bottom: 0px;
    left: 56px;
    width: 265px;
    height: 55px;
    background: #fad59e;
    box-shadow: -2px 2px 40px 10px rgba(31, 30, 30, 0.03);
    line-height: 55px;
    border-radius: 10px;
    cursor: pointer; }

.DepartmentsDetail {
  float: left;
  height: 811px;
  width: 100%;
  min-width: 1090px;
  background: #fee8c4;
  box-shadow: 1px 2px 40px 10px rgba(5, 5, 5, 0.05);
  border-radius: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: none; }
  .DepartmentsDetail .DepartmentsDetailTitle {
    margin: 0 auto;
    width: 145px;
    height: 55px;
    position: relative;
    top: 48px; }
    .DepartmentsDetail .DepartmentsDetailTitle h4 {
      font-size: 36px;
      font-family: MicrosoftYaHei;
      font-weight: 600;
      color: #030303;
      opacity: 0.9;
      text-align: center; }
    .DepartmentsDetail .DepartmentsDetailTitle div {
      margin: 0 auto;
      width: 77px;
      height: 6px;
      background-color: #FAD7A4; }

.detailBox {
  height: 574px;
  width: 990px;
  margin: 0 auto;
  position: relative;
  top: 94px; }
  .detailBox .detailMenu {
    height: 137px; }
    .detailBox .detailMenu .departmentName {
      width: 138px;
      height: 137px;
      float: left; }
      .detailBox .detailMenu .departmentName img {
        width: 125px;
        height: 124px;
        position: relative;
        left: 6px; }
      .detailBox .detailMenu .departmentName p {
        text-align: center;
        font-size: 22px;
        font-family: MicrosoftYaHei;
        font-weight: 400; }
    .detailBox .detailMenu .departmentName1 {
      margin-left: 80px; }
    .detailBox .detailMenu .departmentName2 {
      float: right; }
  .detailBox .detailIntroduction {
    width: 990px;
    height: 360px;
    background: #fbfaf9;
    opacity: 0.7;
    border-radius: 10px;
    margin-top: 55px; }

/*# sourceMappingURL=team..css.map */
