.work{
    height: 943px;
    width: 100%;
    position: relative;
    .workBox{
        margin: 0 auto;
        position: relative;
        top: 156px;
        width:1334px;
        height:641px;
        border: 10px solid #FCFAF7;
        .workTop{
            position: relative;
            top: 33px;
            height: 87px;
            width: 280px;
            margin: 0 auto;
            .workTitle{
                height: 40px;
                width: 77px;
                border-bottom: 6px solid #FCDBAB;
                text-indent: -64px;
                margin: 0 auto;
                font-size:30px;
                font-family:MicrosoftYaHei;
                font-weight:200;
                color:rgba(3,3,3,1);
                opacity:0.85;
            }
            p{
                margin-top: 26px;
                font-size:20px;
                font-family:MicrosoftYaHei;
                font-weight:400;
                color:rgba(3,3,3,1);
            }
        }
        .works{
            height: 334px;
            width: 1099px;
            margin: 0 auto;
            position: relative;
            top: 93px;
        }
        .moreWorks{
            margin: 0 auto;
            position: relative;
            top: 195px;
            width:265px;
            height:55px;
            background:rgba(250,213,158,1);
            box-shadow:-2px 2px 40px 10px rgba(63,63,63,0.06);
            border-radius:10px;
            text-align: center;
            line-height: 55px;
            p{
                color: white;
                font-size:21px;
            }
        }
    }
}

//点击作品（网站）了解更多弹出细节卡片
.worksDetail{    
    float: left;
    height: 811px;
    width:calc(100% - 100px);
    min-width: 1090px;
    background:rgba(254,232,196,1);
    box-shadow:1px 2px 40px 10px rgba(5,5,5,0.05);
    border-radius:10px;
    position: absolute;
    top: 56px;left: calc(100px - 100%);
    .networkBox{
        margin: 0 auto;
        margin-top: 134px;
        width:1324px;
        height:622px;
        background:rgba(251,250,249,1);
        opacity:0.8;
        border-radius:10px;
    }
}